/OnlineBankingApp/OnlineBankingApp/obj
/OnlineBankingApp/APIPayment/obj
/OnlineBankingApp/.vs/OnlineBankingApp/v17
/OnlineBankingApp/.vs/OnlineBankingApp/FileContentIndex
/OnlineBankingApp/.vs
/OnlineBankingApp/OnlineBankingApp/bin
